USE [master]
GO
/****** Object:  Database [DBDL]    Script Date: 5/7/2023 3:20:02 AM ******/
CREATE DATABASE [DBDL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBDL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBDL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBDL]
GO
/****** Object:  Table [dbo].[CONG_TY]    Script Date: 5/7/2023 3:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_TY](
	[ID_CT] [nvarchar](50) NOT NULL,
	[Ten_CT] [nvarchar](150) NOT NULL,
	[Ten_NQL] [nvarchar](150) NOT NULL,
	[SĐT_NQL] [nvarchar](100) NOT NULL,
	[Email_NQL] [nvarchar](150) NOT NULL,
	[MK] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CONG_TY] PRIMARY KEY CLUSTERED 
(
	[ID_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/7/2023 3:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID_NV] [nvarchar](50) NOT NULL,
	[Ten_NV] [nvarchar](150) NOT NULL,
	[SĐT_NV] [nvarchar](100) NOT NULL,
	[EMAIL_NV] [nvarchar](150) NOT NULL,
	[ID_CT] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](max) NOT NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 5/7/2023 3:20:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID_SP] [nvarchar](50) NOT NULL,
	[ID_CT] [nvarchar](50) NOT NULL,
	[Ten_SP] [nvarchar](150) NOT NULL,
	[SL_HT] [nchar](20) NOT NULL,
	[GIOI_HAN] [nchar](20) NOT NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONG_TY] ([ID_CT], [Ten_CT], [Ten_NQL], [SĐT_NQL], [Email_NQL], [MK]) VALUES (N'CT01', N'Công ty Điện lực Ninh Thuận', N'Văn Tuấn Kiệt', N'0374652126', N'phannhuquynh08112002@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[CONG_TY] ([ID_CT], [Ten_CT], [Ten_NQL], [SĐT_NQL], [Email_NQL], [MK]) VALUES (N'CT02', N'Nhà Thầu Cơ Điện TEDCO', N'Phạm Lê Phương Trinh', N'0374652126', N'phanquynh08112002@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
GO
INSERT [dbo].[NHAN_VIEN] ([ID_NV], [Ten_NV], [SĐT_NV], [EMAIL_NV], [ID_CT], [MK], [trangthai]) VALUES (N'NVCT0101', N'Phan Như Quỳnh', N'0374652126', N'phannhuquynh08112002@gmail.com', N'CT01', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1)
INSERT [dbo].[NHAN_VIEN] ([ID_NV], [Ten_NV], [SĐT_NV], [EMAIL_NV], [ID_CT], [MK], [trangthai]) VALUES (N'NVCT0102', N'Đỗ Thị Phương Anh', N'0374652126', N'phannhuquynh08112002@gmail.com', N'CT01', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1)
INSERT [dbo].[NHAN_VIEN] ([ID_NV], [Ten_NV], [SĐT_NV], [EMAIL_NV], [ID_CT], [MK], [trangthai]) VALUES (N'NVCT0103', N'Lâm Quốc Nhân', N'0906889483', N'vtk@gmail.com', N'CT01', N'123456', 1)
GO
INSERT [dbo].[SAN_PHAM] ([ID_SP], [ID_CT], [Ten_SP], [SL_HT], [GIOI_HAN], [trangthai]) VALUES (N'NVCT0101', N'CT01', N'Đồng hồ đo điện áp', N'3                   ', N'10                  ', 1)
INSERT [dbo].[SAN_PHAM] ([ID_SP], [ID_CT], [Ten_SP], [SL_HT], [GIOI_HAN], [trangthai]) VALUES (N'NVCT0102', N'CT01', N'Đồng hồ đo dòng điện', N'3                   ', N'5                   ', 1)
INSERT [dbo].[SAN_PHAM] ([ID_SP], [ID_CT], [Ten_SP], [SL_HT], [GIOI_HAN], [trangthai]) VALUES (N'NVCT0103', N'CT01', N'Voltmeter', N'5                   ', N'5                   ', 1)
GO
USE [master]
GO
