html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar {
    background-color: rgba(7, 37, 89, 1) !important;
    z-index: 1040;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Montserrat;
    background-image: url("../image/bg2.jpeg");
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
}
#ma{
    min-height:100%;
}

/*.background {
    background-image: url("../image/bg.jpg");
    height: 100%;
    object-fit: fill;
}*/

/*navbar item*/
.container-fluid {
    margin: 0 30px 0px 30px;
}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}
.role {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    padding: 15px 25px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 6px #999;
    color: white;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
    text-decoration: unset;
    display: block;
}
.role:hover {
    background-color: rgb(8, 8, 8);
    color: white;
}

.role:active {
    background-color: rgb(8, 8, 8);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.content .signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-control1 {
    margin-bottom: 30px;

}

.form-control1 input {
    width: 100%;
    width: 100%;
    height: 55px;
    border: 1px solid transparent;
    background: #ededed;
    color: #272727;
    padding: 0 20px;
    font-weight: 500;
}

.form-control1 input:focus {
        outline: none;
        background: #fff;
        border-color: #ededed;
}

.content .signup form .submit {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    padding: 15px 25px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 6px #999;
    color: white;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
}

    .content .signup form .submit:hover {
        background-color: rgb(8, 8, 8);
    }

    .content .signup form .submit:active {
        background-color: rgb(8, 8, 8);
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

.btn-add {
    background-color: rgba(7, 37, 89, 1);
}
.list{
    color: white !important;
}

